body {
    background-size: 40px 40px;
    background-color: #f1f1f1;
    background-image:
        linear-gradient(to right, #aaaaea88 1px, transparent 1px),
        linear-gradient(to bottom, #aaaaea88 1px, transparent 1px);
    
    font-family: 'Google Sans Code';
}