select { font-family: 'Google Sans Code'; margin-bottom: 2rem; }
option { font-size: medium; }

canvas {
    width: 800px;
    height: 600px;
}

#flex-container {
    display: flex;
    flex-direction: row;
}

#input-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    padding-top: 0;
    max-width: 21.5rem;
}

#input-container div {
    display: flex;
    flex-direction: column;
}

#input-container > div > input, #input-container > div > select {
    margin-bottom: 3rem;
}

#input-container > div > p {
    position: absolute;
    margin-top: 2.5rem;
}
#input-container > div > p:first-of-type {
    align-self: flex-start;
}
#input-container > div > p:last-of-type {
    align-self: flex-end;
}
#input-container .hidden-input {
    display: none;
}

.parameter-div {
    position: relative;
}

.parameter-div > p {
    user-select: none;
    pointer-events: none;
}

.parameter-div .param-set {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    width: 5rem;
    bottom: -1.5rem;

    margin-top: 0.5em;
}

div#runbtncarrier {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    gap: 2rem;
}
div#runbtncarrier > button {
    min-width: 6rem;
}

#displayoptionholder {
    display: flex;
    flex-direction: column;

    font-size: 87.5%;
}

.optionset {
    display: flex;
    flex-direction: column;
}
.optionset:last-child > * {
    align-self: flex-end;
}

#resultspanel {
    background-color: #111111;
    color: white;

    margin: 1rem;
    margin-top: 0;
    padding: 0.75rem;
    flex-grow: 1;
}
.resulttext {
    font-size: 85%;
    font-style: italic;
    width: 100%;
    height: calc((75)/3 * 1%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    appearance: textfield; /* Firefox */
    width: 3rem;
}